body {
    margin: 0;
    padding: 0;
    background-image: url('/lixoo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
 
  .denuncia-page {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    padding-bottom: 60px;
  }
  
  .denuncia-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    margin: 20px;
  }
  
  .denuncia-form-wrapper {
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }
  
  .denuncia-textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .denuncia-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #5f8aca;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .denuncia-button:hover {
    background-color: #05357e;
  }
  
  .denuncia-image-wrapper {
    margin-left: 20px;
  }
  
  .denuncia-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .success-message {
    margin-top: 20px; /* Adicionando margem superior para separar da parte inferior do botão */
  }
  